
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Ελληνικό Ίδρυμα Έρευνας και Καινοτομίας - ΕΛ.ΙΔ.Ε.Κ. </title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap" rel="stylesheet">
    </head>


<body>
    <header>
        <div class="shadow">
        <div class="container">
            <a class="navbar-brand" href="/">Ελληνικό Ίδρυμα Έρευνας και Καινοτομίας<br>ΕΛ.ΙΔ.Ε.Κ.</a>
            <nav>
            <ul>
                <li><a href="/Programs">Προγράμματα</a></li>
                <li><a href="/Org">Οργανισμοί</a></li>
                <li><a href="/Sci_fields">Επιστημονικά Πεδία</a></li>
                <li><a href="/Proj">Έργα/Επιχορηγήσεις</a></li>
                <li><a href="/Researchers">Ερευνητές</a></li>
                <li><a href="Exec">Στελέχη</a></li>
            </ul>
            </nav>
            </div>
     </div>

    </header>

    </body>
</html>
