body {
    margin: 0;
    font-family: 'GFS Neohellenic', sans-serif;
    font-weight: 300;
    background: #354259
     
}

/*The Navbar*/

.container{
    width: 80%;
    margin: 0 auto;
    margin-left: 35px;
}

header{
    background: #C2DED1;
    box-shadow: 0px 0px 30px 20px #2a2a2b ;
}

.navbar-brand{
    float:left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #354259;  
    text-decoration: none; 
    font-weight: bold;
    font-size: 18px;
} 


header::after {
    content:'';
    display: table;
    clear: both;
}

nav{
    float: right;
    
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 20px;
    position: relative;
}

nav a{
    color: #354259;
    text-decoration: none;
}

nav a:hover{
    color: #354259;
    font-weight: bold ;
}

nav a::before{
    content:'';
    display: block;
    height: 5px;
    background-color: #354259;
    position: absolute;
    top:0;
    width: 0px;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

