.The-Criteria{
   
    font-size: 1.3rem;
    outline: none;
    list-style: none;
    font-family: 'GFS Neohellenic', sans-serif;
    padding-top: 60px;
    padding-left: 50px;
    border-radius: 5px;
    background-color:rgba(205, 194, 174, 0.168) ;
    max-width: 400px;
    width: 100%;
    height: 585px;
    border: 1px solid rgba (255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0.3);
    color: black;
}

.The-Criteria .CriteriaTitle{
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.The-Criteria .CriteriaTitle::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;;
    height: 3px;
    width: 30px;
    background: #C2DED1;
}

select{
    width:75px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding:7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#date{
    width:150px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding:7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#searchbar{
    width:150px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding:7px;
    background-color: #fff;
    box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3);
}

.SearchButton{
    width:200px;
    padding:7px;
    font-size:16px;
    font-weight: 600;
    border-radius: 3px;
    background-color:rgb(194, 222, 209);
    color: black;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.SearchButton:hover {
    background-color: rgba(133, 183, 159, 0.501); 
    color: white;
  }
.criterianames{
    color: #C2DED1;
}

table#table1{
    position:absolute;
    left:50%;
    bottom: 500px;
}

table,th, td{
    font-size: 18px;
    border-collapse: collapse;
    border:2px solid rgb(194, 222, 209);
    
}

th,td{
    padding: 7px;
}


table#table2{
    position: absolute;
    left:50%;
    bottom: 200px;
}
